.header .logo{
  display:flex;
  align-items:center;
}
.footer{padding-top: 16px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 24px;}
.menu{display:flex;
  justify-content: space-between;
;
}
.t_p{display:flex;
  align-items:end
}
@media only screen and (max-width: 600px) {
    div.example {
      display: none;
    }
  }